
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,100;1,300&display=swap'); 

*{
    font-family: 'Roboto', sans-serif;
    padding: 0 0;
    
}
.paper_container{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
}
.title{
    font-size: 3rem;
}
img{
    padding: 1rem;
}
.infos{
    padding-left: 30px;
}
.ranking{
    font-size: 1.8rem;
}
.genre{
    text-transform: capitalize;
    font-weight: 500;
}
.episodes{
    font-weight: 300;
}
.description{
    padding: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
}


@media screen and (max-width: 400px){
    .paper_container{
        flex-direction: column;
        padding-left: 5px;
    }
    .title{
        font-size: 2rem;
    }
    .ranking{
        font-size: 1.3rem;
    }

}